#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body,
html,
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: fantasy;
}

.parallax {
  background-image: url("https://cdn.travelpulse.com/images/54aaedf4-a957-df11-b491-006073e71405/ee952e9e-f09c-49c2-bc5d-4303c880173a/630x355.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hover:hover {
  transform: scale(1.25);
  transition: all 0.5s ease-in-out;
  background-color: orangered;
}

.header {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: "myFont";
}
.header:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: skyblue;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header:hover,
.header:focus,
.header:active {
  color: white;
}
.header:hover:before,
.header:focus:before,
.header:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.attractionss {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

.child {
  width: 33rem;
  height: 40rem;
  text-align: center;
  margin-bottom: 3em;
}

.mages {
  float: left;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.attraction-img,
.food-img {
  float: left;
  width: 55%;
  height: 70%;
  border: 5px solid black;
}

.attractions,
.food {
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

.waikiki-beach,
.uss-arizona,
.hanauma-bay,
.manapua,
.poke,
.malasados,
.saimin {
  width: 50rem;
  height: 30rem;
  border: 3px solid black;
  text-align: center;
  background-color: lightgray;
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em;
  font-size: large;
}
.attraction-desc,
.food-desc {
  margin: 15px 7px 7px 7px;
  font-size: 1.4rem;
}
.attraction-desc-2 {
  font-size: 1.3rem;
}
.hanauma-desc {
  font-size: 1.3rem;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: right;
  width: 25%;
  padding: 10px;
}
.gallery {
  height: 22rem;
  width: 35rem;
}
/* Style the images inside the grid */
.column img {
  opacity: 0.7;
  cursor: pointer;
  place-content: center;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  justify-content: center;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.color-change {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  border: 1px solid #555;
}
